<h1>-LOGIN-</h1>

<form action="/api/sessions/login" method="POST">
	<div class="formulario">
		<label for="email"> Email: </label>
		<input type="email" name="email" />
	</div>
	<div class="formulario">
		<label for="password"> Password: </label>
		<input type="password" name="password" />
	</div>
	<div class="formulario">
		<button type="submit" class="btn btn-outline-info"> Login </button>
	</div>

	<div class="formulario">
		<a href="/api/sessions/github" class="btn btn-dark"> Github </a>
	</div>

	<div class="formulario">
		<a
			href="/api/sessions/auth/facebook"
			class="btn btn botonFacebook"
		>Facebook</a>
	</div>

</form>